.timeline-wrapper {
    position: relative;
}

.timeline-filled {
    position: relative;
}

.vertical-line {
    background-color: #ddd;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 4px;
}
.timeline-filled .vertical-line {
    background-color: #69f;
    z-index: 1;
}

.timeline-stamp {
    align-items: center;
    display: flex;
    height: 5px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.timeline-stamp:before {
    content: ' ';
    background-color: #fff;
    border: 2px solid #69f;
    border-radius: 999px;
    height: 12px;
    transform: translateX(-50%);
    width: 12px;
}
.timeline-filled .timeline-stamp:not(:last-child):before {
    background-color: #69f;
}
.timeline-not-filled .timeline-stamp:before {
    border-color: #ddd;
}

.VerticalTimeline a,
.VerticalTimeline a:visited {
    color: rgb(0, 0, 238);
}
